{% extends "layouts/page.jinja" %}
{% block content %}

{% set doc = data.content.doc%}
{% set doc_content = data.content.rendered_doc %}

<section class="w-full max-w-[1680px] mx-auto px-4 my-4">
    <DocumentNavigation
      :lang="lang"
      :request="request"
      :translator="translator"
      :volume="data.content.volume"
      :doc="data.content.doc"
    />
</section>

<section class="w-full max-w-[1680px] mx-auto mt-4 mb-6 px-4">
    <h1 class="title-1">{{ doc.get_title_by_lang(lang) | safe }}</h1>
    <header class="flex text-ssrq-greyed-600 text-sm items-center gap-2">
        <span title="{{ translator.translate(lang, 'ssrq-idno') }}" class="flex items-center">
            <DocumentIcon class="w-3.5 h-3.5 mr-0.5 md:mr-1" />
            {{ doc.printed_idno }}
        </span>
        <span title="{{ translator.translate(lang, 'orig-date') }}" class="flex items-center">
            <CalendarIcon class="w-3.5 h-3.5 mr-0.5 md:mr-1"/>
            {{ doc[lang.value + '_orig_date'] | safe }}
        </span>
        {% if doc.orig_place is not none and doc.orig_places | length > 0 %}
        <span title="{{ translator.translate(lang, 'orig-place') }}" class="flex items-center">
            <PlaceIcon class="w-3.5 h-3.5 mr-0.5 md:mr-1"/>
            {{ orig_places | join(', ') }}
        </span>
        {% endif %}
    </header>
    <div
        class="md:flex w-full max-w-[1680px] mx-auto items-stretch justify-center gap-4 my-8 md:min-h-[70vh] md:max-h-[80vh]">
        <div class="md:w-1/2 flex mb-6 md:mb-0">
            <Tabs>
                <TabHeader>
                    <TabControl :label="'transcript'">
                        {{ translator.translate(lang, doc.type.value) }}
                    </TabControl>

                    {% if doc.type.value == 'transcript' %}
                        <TabControl :label="'normalized'">
                            {{ translator.translate(lang, 'edition_text') }}
                        </TabControl>
                    {% endif %}

                    <TabControl :label="'tei_xml'">
                        {{ translator.translate(lang, 'tei_xml') }}
                    </TabControl>
                </TabHeader>

                <Tab :label="'transcript'">
                    <HTMLCard :html_content="doc_content.transcript"/>
                </Tab>

                {% if doc.type.value == 'transcript' %}
                    <Tab :label="'normalized'">
                        <HTMLCard :html_content="doc_content.normalized_transcript" />
                    </Tab>
                {% endif %}

                <Tab :label="'tei_xml'">
                    <p class="mb-4">{{ translator.translate(lang, 'download') | safe }}</p>
                    <a
                      href="{{ url_for('api_v1_document_xml', id=doc.uuid) }}"
                      target="_blank"
                      class="text-ssrq-primary hover:text-ssrq-primary hover:underline flex items-center"
                      download="{{ doc.uuid }}.xml"
                    >
                        <DownloadIcon class="w-5 h-5 mr-1"/> {{ translator.translate(lang, 'xml-download') }}
                    </a>
                </Tab>
            </Tabs>
        </div>
        <div class="md:w-1/2 flex mb-6 md:mb-0">
            <Tabs>
                <TabHeader>
                    <TabControl :label="'description'">
                        {{ translator.translate(lang, 'description') }}
                    </TabControl>

                    {% if doc.type.value == 'transcript' and doc.facs is not none %}
                        <TabControl :label="'digital_copy'">
                            {{ translator.translate(lang, 'digital_copy') }}
                        </TabControl>
                    {% endif %}

                    {% if doc_content.summary is not none %}
                        <TabControl :label="'summary'">
                            {{ translator.translate(lang, 'summary') }}
                        </TabControl>
                    {% endif %}

                    {% if doc_content.comment is not none %}
                        <TabControl :label="'comment'">
                            {{ translator.translate(lang, 'comment') }}
                        </TabControl>
                    {% endif %}

                    {% if doc.entities is not none and data.content.index is not none%}
                        <TabControl :label="'entities'">
                            {{ translator.translate(lang, 'entities') }}
                        </TabControl>
                    {% endif %}
                </TabHeader>

                <Tab :label="'description'">
                    <p>Description goes here!</p>
                </Tab>

                {% if doc.type.value == 'transcript' and doc.facs is not none %}
                    <Tab :label="'digital_copy'">
                        {# ToDo: The Image Component is just a dummy at the moment! #}
                        <FacsViewer/>
                    </Tab>
                {% endif %}

                {% if doc_content.summary is not none %}
                    <Tab :label="'summary'">
                        <HTMLCard :html_content="doc_content.summary.content" :template="true" />
                    </Tab>
                {% endif %}

                {% if doc_content.comment is not none %}
                    <Tab :label="'comment'">
                        <HTMLCard :html_content="doc_content.comment.content"/>
                    </Tab>
                {% endif %}

                {% if doc.entities is not none and data.content.index is not none %}
                    <Tab :label="'entities'">
                        <DocumentEntities
                          :translator="translator"
                          :document="doc"
                          :entities="data.content.index"
                          :request="request"
                          :lang="lang"
                        />
                    </Tab>
                {% endif %}
            </Tabs>
        </div>
    </div>
</section>

{% endblock %}
