{% extends "layouts/page.jinja" %}
{% block content %}
<Breadcrumbs class="mt-3" :request="request" :parts="[(translator.translate(lang, 'search'), None)]" />

<SlimBanner :request="request">
    <h1 class="title-1">
        {{ translator.translate(lang, 'search') }}
    </h1>
</SlimBanner>


<section class="flex w-full max-w-5xl lg:px-12 sm:px-4 items-center justify-start mx-auto">
    <FtSearchForm
        :endpoint="url_for('search').include_query_params(lang=lang.value)"
        :lang="lang"
        :translator="translator"
        :query="data.content.query"
        :hx_indicator="'#loading-overlay'"
        :hx_params="'not per-page,page lang'"
        :hx_target="'#documents'"
    />
</section>

{% block documents %}

<div id="documents">
    <section class="documents relative">
        <Loader :lang="lang" :translator="translator" />
        {% if data.content.results %}
            <Pagination
            class="top"
            :current_page="data.content.current_page"
            :pages="data.content.pages"
            :request="request"
            >
                <HitCounter
                :lang="lang"
                :request="request"
                :translator="translator"
                :total="data.content.total"
                />
            </Pagination>
        {% for result in data.content.results %}
            <FtSearchHitCard
                :document="result"
                :lang="lang"
                :request="request"
                :translator="translator"
            />
        {% endfor %}
            <Pagination
            class="bottom"
            :current_page="data.content.current_page"
            :pages="data.content.pages"
            :request="request"
            />
        {% else %}
            <NoHits
            :lang="lang"
            :translator="translator"
            />
        {% endif %}
    </section>
</div>

{% endblock %}


{% endblock %}