.canton {
  width: 100%;
  display: flex;
  margin: $margin-vertical-base * 2 0;
}

.canton__title {
  margin: $margin-horizontal-base;
}

.canton__title--spaced {
  margin: $margin-horizontal-base;
  margin-left: $margin-horizontal-base * 6;
}

.canton__name {
  margin-left: $margin-horizontal-base;
  margin-right: $margin-horizontal-base * 4;
  display: flex;
  align-items: center;
}

.canton__name--container {
  display: flex;
  flex-direction: column;
}

.canton__name--container .canton__name {
  margin-top: $margin-vertical-base;
  margin-bottom: $margin-vertical-base;
}

.canton__name img {
  margin-left: $margin-horizontal-base / 2;
  margin-right: $margin-horizontal-base * 4;
}

.canton__department {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.canton__badge {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.canton__badge {
  display: flex;
  align-items: center;
  margin-left: $margin-horizontal-base;
}
