#cantons img {
  margin: 0 $margin-horizontal-base / 4;
  height: 2.5rem;
}

#cantons td {
  vertical-align: middle !important;
}

#cantons tbody td {
  border-top: none;
}

#cantons .canton--badge {
  display: flex;
  align-items: center;
}

#cantons.table > thead > tr > th {
  border-bottom: 2px solid $color-gray-lighter;
}
