#cantons img {
  display: block;
  margin: $margin-vertical-base / 2 0;
  height: 2.5rem;
}

#cantons td {
  vertical-align: middle !important;
}

#cantons tbody td {
  border-top: none;
}

#cantons .canton--badge {
  display: flex;
  align-items: center;
}
