.flex-row {
  display: flex;
  align-items: center;
}

.flex-row-spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ml-1 {
  margin-left: $margin-horizontal-base;
}

@for $i from 1 through 5 {
  .mb-#{$i} {
    margin-bottom: $margin-vertical-base * $i;
  }
  .mt-#{$i} {
    margin-top: $margin-vertical-base * $i;
  }
}
