.git
.github
.mypy_cache
.parcel-cache
.pytest_cache
.ruff_cache
.venv
**/.mypy_cache
**/.parcel-cache
**/.pytest_cache
**/.ruff_cache
**/.venv
__pycache__
**/__pycache__
*.py[cod]

node_modules
**/node_modules
npm-debug.log

ssrq_editio.sqlite3

tests

src/ssrq_editio/data/**/TeX/**
!src/ssrq_editio/data/**/TeX/*.pdf
src/ssrq_editio/data/**/work_in_progress/**
src/ssrq_editio/data/**/.dependencies/**
src/ssrq_editio/services/xslt/scripts/convert/.git
src/ssrq_editio/services/xslt/scripts/convert/.github
src/ssrq_editio/services/xslt/scripts/convert/tests
