<?xml version="1.0" encoding="UTF-8"?>
<footer class="footer container-fluid" xmlns:i18n="http://exist-db.org/xquery/i18n">
  <div class="row">
      <div class="col-md-3">
        <h5>
          <i18n:text key="kontakt">Kontakt</i18n:text>
        </h5>
        <p>
          Rechtsquellenstiftung des<br/>
          Schweizerischen Juristenvereins<br/>
          Dr. Pascale Sutter<br/>
          c/o Prof. Dr. Lukas Gschwend<br/>
          Universität St. Gallen<br/>
          Tigerbergstrasse 21<br/>
          CH-9000 St. Gallen
        </p>
        <p>
          <a href="mailto:info@ssrq-sds-fds.ch">info@ssrq-sds-fds.ch</a><br/>
          <a href="//www.ssrq-sds-fds.ch">www.ssrq-sds-fds.ch</a>
        </p>
      </div>
      <div class="col-md-3">
        <h5>
          <a href="{app}/about/partners" data-template="ssrq-helper:resolve-links">
            <i18n:text key="partners-and-funding">Projektpartner</i18n:text>
          </a>
        </h5>
      </div>
      <div class="col-md-3">
        <h5>
          <i18n:text key="transrichtlinien"
            >Hinweis auf die Transkriptionsrichtlinien</i18n:text>
        </h5>
        <h5>
          <i18n:text key="datrichtlinien"
            >Hinweis auf die Datierungsrichtlinien</i18n:text>
        </h5>
      </div>
      <div class="col-md-3">
        <h5>
          <i18n:text key="lizenz">Lizenz</i18n:text>
        </h5>
        <p>
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
            >CC BY-NC-SA</a>
        </p>
      </div>
  </div>
</footer>
