<head data-template="template-utils:resolve-links">
  <title data-template="config:app-title">App Title</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta data-template="config:app-meta" />
  <link rel="shortcut icon" href="{app}/resources/images/favicon-ssrq-32.png" />
  <link
    rel="stylesheet"
    type="text/css"
    href="{app}/resources/fonts/font.css"
  />
  <link rel="stylesheet" type="text/css" href="{app}/resources/css/style.css" />
  <!-- <link rel="stylesheet" type="text/css" data-template="pages:styles"/> -->
</head>
