<html data-template="template-utils:create-root-and-translate">
  <head data-template="lib:include" data-template-path="templates/head.html" />
  <body id="body" class="flex flex-col min-h-screen">
    <nav data-template="lib:include" data-template-path="templates/nav.html" />
    <main class="pt-16 flex-1" data-template="template-utils:resolve-links">
      <section
        data-template="lib:include"
        data-template-path="templates/banner.html"
      />
      <div id="content" />
    </main>

    <footer
      data-template="lib:include"
      data-template-path="templates/footer.html"
    />
    <script src="{app}/resources/scripts/main.js" data-template="template-utils:resolve-links"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"></script>
  </body>
</html>
