<html data-template="template-utils:app-root">
  <head data-template="lib:include" data-template-path="templates/head.html" />
  <body
    xmlns:i18n="http://ssrq-sds-fds.ch/exist/apps/ssrq/i18n/module"
    id="body"
    data-template="i18n:translate"
    class="flex flex-col min-h-screen"
  >
    <nav data-template="lib:include" data-template-path="templates/nav.html" />
    <main class="pt-16 flex-1" data-template="template-utils:resolve-links">
      <section
        data-template="lib:include"
        data-template-path="templates/banner.html"
      />
      <div id="content" />
    </main>

    <footer
      data-template="lib:include"
      data-template-path="templates/footer.html"
    />
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"></script>
  </body>
</html>
