<html data-template="template-utils:create-root-and-translate">
  <head data-template="lib:include" data-template-path="templates/head.html" />
  <body id="body" class="flex flex-col min-h-screen">
    <nav data-template="lib:include" data-template-path="templates/nav.html" />
    <main
      class="pt-16 flex-1"
      data-template="template-utils:resolve-links"
      id="content"
    />
    <footer
      data-template="lib:include"
      data-template-path="templates/footer.html"
    />
    <script
      src="{app}/resources/js/app.js"
      type="module"
      data-template="template-utils:resolve-links"
    ></script>
  </body>
</html>
