<elementSpec xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xmlns:i18n="http://ssrq-sds-fds.ch/exist/apps/ssrq/i18n/module" xmlns:nontei="http://ssrq-sds-fds.ch/ns/nonTEI" ident="app">
    <model predicate="empty(rdg/node())" behaviour="alternote" cssClass="text-critical">
        <desc>app with empty reading</desc>
        <param name="content" value="lem"/>
        <param name="alternate" value="(ec:label('omitted-in'), ' ', rdg/@wit)"/>
        <param name="type" value="'text-critical'"/>
    </model>
    <model predicate="empty(lem/node())" behaviour="alternote" cssClass="text-critical">
        <desc>app with empty lemma</desc>
        <param name="content" value="''"/>
        <param name="prefix" value="(ec:label('alt-rdg-in'), ' ', rdg/@wit, ec:colon())"/>
        <param name="alternate" value="rdg"/>
        <param name="type" value="'text-critical'"/>
    </model>
    <model predicate="lem/unclear" behaviour="alternote" cssClass="text-critical">
        <param name="content" value="lem"/>
        <param name="prefix" value="(ec:label('unclear-rdg'), ', ', ec:label('alt-rdg-in', false()), ' ', rdg/@wit, ec:colon())"/>
        <param name="alternate" value="rdg"/>
        <param name="type" value="'text-critical'"/>
    </model>
    <model predicate="rdg/unclear" behaviour="alternote" cssClass="text-critical">
        <param name="content" value="lem"/>
        <param name="prefix" value="(ec:label('alt-rdg-in'), ' ', rdg/@wit, ', ', ec:label('unclear-rdg', false()), ec:colon())"/>
        <param name="alternate" value="rdg"/>
        <param name="type" value="'text-critical'"/>
    </model>
    <model predicate="rdg[2]" behaviour="alternote" cssClass="text-critical">
        <param name="content" value="lem"/>
        <param name="alternate" value="(ec:label('alt-rdg-in'), ' ', rdg[1]/@wit, ec:colon(), rdg[1], '. ', ec:label('alt-rdg-in'), ' ', rdg[2]/@wit, ec:colon(), rdg[2])"/>
        <param name="type" value="'text-critical'"/>
    </model>
    <model behaviour="alternote" cssClass="text-critical">
        <param name="content" value="lem"/>
        <param name="prefix" value="(ec:label('alt-rdg-in'), ' ', rdg/@wit, ec:colon())"/>
        <param name="alternate" value="rdg"/>
        <param name="type" value="'text-critical'"/>
    </model>
</elementSpec>
