/**
 * Lexia Fontes
 */

@font-face {
  font-family: "Lexia Fontes";
  src:
    url("LexiaFontes_Bd.woff") format("woff"),
    url("LexiaFontes_Bd.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Lexia Fontes";
  src:
    url("LexiaFontes_BdIt.woff") format("woff"),
    url("LexiaFontes_BdIt.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Lexia Fontes";
  src:
    url("LexiaFontes_It.woff") format("woff"),
    url("LexiaFontes_It.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Lexia Fontes";
  src:
    url("LexiaFontes_Rg.woff") format("woff"),
    url("LexiaFontes_Rg.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

/**
 * Open Sans
 */

@font-face {
  font-family: "Open Sans";
  src:
    local("OpenSans-Regular"),
    local("Open Sans"),
    url("OpenSans-Regular-webfont.woff") format("woff"),
    url("OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
