.canton-ZH {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -0px;
}
.canton-BE {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -30px;
}
.canton-LU {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -60px;
}
.canton-UR {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -90px;
}
.canton-SZ {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -120px;
}
.canton-OW {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -150px;
}
.canton-NW {
  width: 24px;
  height: 30px;
  background: url(sprite.png) -24px -150px;
}
.canton-GL {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -180px;
}
.canton-ZG {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -210px;
}
.canton-FR {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -240px;
}
.canton-SO {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -270px;
}
.canton-BS {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -300px;
}
.canton-BL {
  width: 26px;
  height: 30px;
  background: url(sprite.png) -24px -300px;
}
.canton-SH {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -330px;
}
.canton-AR {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -360px;
}
.canton-AI {
  width: 24px;
  height: 30px;
  background: url(sprite.png) -24px -360px;
}
.canton-SG {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -390px;
}
.canton-GR {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -420px;
}
.canton-AG {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -450px;
}
.canton-TG {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -480px;
}
.canton-TI {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -510px;
}
.canton-VD {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -540px;
}
.canton-VS {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -570px;
}
.canton-NE {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -600px;
}
.canton-GE {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -630px;
}
.canton-JU {
  width: 24px;
  height: 30px;
  background: url(sprite.png) 0px -660px;
}
