<?xml version="1.0" encoding="UTF-8"?>
<section
  id="cantonlist"
  xmlns:i18n="http://exist-db.org/xquery/i18n"
  data-template="ssrq-helper:cantonslist-container"
>
  <table id="cantons" class="table" data-template="i18n:translate">
    <thead>
      <tr>
        <th colspan="2">
          <i18n:text key="canton" />
        </th>
        <th>
          <i18n:text key="section" />
        </th>
      </tr>
    </thead>
    <tbody data-template="ssrq-helper:listCantons"></tbody>
  </table>
</section>
