<section
  id="documents-panel"
  data-template="ssrq-helper:load-works"
  data-template-per-page="20"
>
  <div
    xmlns:i18n="http://exist-db.org/xquery/i18n"
    data-template="i18n:translate"
    data-catalogues="../resources/i18n"
  >
    <div class="flex-row-spaced">
    <ul
      class="pagination"
      data-template="ssrq-helper:paginate"
      data-template-per-page="20"
      data-template-max-pages="5"
      data-template-min-hits="21"
    />
    <h5>
      <span class="result-count">
        <a data-template="ssrq-helper:hits"/>
        <i18n:text key="found"
      /></span>
    </h5>
    </div>
    <button class="back-button" data-template="ssrq-helper:resolve-links">
      <a href="{app}/{kanton}/">
        <i class="material-icons">arrow_upward</i> <i18n:text key="back-up"
      /></a>
    </button>
  </div>
  <div class="row" data-template="i18n:translate">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12" id="documents">
          <div data-template="ssrq-helper:cache-store-retrieve" data-template-prefix="docs">
            <ul class="documents">
              <li data-template="ssrq-helper:render-work"/>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
