<?xml version="1.0" encoding="UTF-8"?>
<footer class="footer container-fluid" xmlns:i18n="http://exist-db.org/xquery/i18n">
  <div class="row">
      <div class="col-md-3">
        <h5>
          <i18n:text key="kontakt">Kontakt</i18n:text>
        </h5>
        <p>
          Rechtsquellenstiftung des <br />
          Schweizerischen Juristenvereins<br />
          Dr. Pascale Sutter<br />
          c/o Prof. Dr. Lukas Gschwend<br />
          Universität St. Gallen<br />
          Tigerbergstr. 21<br />
          CH-9000 St. Gallen<br />
          email: <a href="mailto:info@ssrq-sds-fds.ch">info@ssrq-sds-fds.ch</a>
          <br />
          <a href="https://www.ssrq-sds-fds.ch">https://www.ssrq-sds-fds.ch</a>
        </p>
      </div>
      <div class="col-md-2">
        <h5>
          <a href="partners.html">
            <i18n:text key="partners-and-funding">Projektpartner</i18n:text>
          </a>
        </h5>
        <h5>
          <i18n:text key="realisierung">Realisierung</i18n:text>
        </h5>
        <p>
          <a href="http://existsolutions.com">eXistSolutions GmbH</a>
        </p>
      </div>
      <div class="col-md-2">
        <h5>
          <i18n:text key="transrichtlinien"
            >Hinweis auf die Transkriptionsrichtlinien</i18n:text
          >
        </h5>
        <h5>
          <i18n:text key="datrichtlinien"
            >Hinweis auf die Datierungsrichtlinien</i18n:text
          >
        </h5>
      </div>
      <div class="col-md-2">
        <h5>
          <i18n:text key="lizenz">Lizenz</i18n:text>
        </h5>
        <p>
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
            >CC BY-NC-SA</a
          >
        </p>
      </div>
      <div class="col-md-3">
        <a href="https://e-editiones.org/" target="_blank" class="e-editiones-logo">
          <img
            src="resources/images/member-of-editiones-color.svg"
            alt="Member of e-editiones"
          />
        </a>
        <a href="https://doi.org/10.5281/zenodo.4022313" target="_blank" class="ssrq-doi"
          ><img
            src="https://zenodo.org/badge/DOI/10.5281/zenodo.4022314.svg"
            alt="SSRQ-DOI"
        /></a>
      </div>
  </div>
</footer>
