<nav xmlns:i18n="http://exist-db.org/xquery/i18n" class="navbar navbar-default navbar-fixed-top" role="navigation" data-template="i18n:translate" data-catalogues="resources/i18n">
    <div class="container-fluid" data-template="ssrq-helper:resolve-links">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"/>
                <span class="icon-bar"/>
                <span class="icon-bar"/>
            </button>
            <a class="navbar-brand logo" href="{app}/">
                <img src="{app}/resources/images/SSRQganz-2020.svg" data-template="ssrq-helper:insertAlt"/>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="abbr">
                    <a href="{app}/about/abbr" class="tp-menu-item">
                        <i18n:text key="abbr"/>
                    </a>
                </li>
                <li>
                    <a data-template="ssrq-helper:link-to-index">
                        <i18n:text key="index"/>
                    </a>
                </li>
                <li>
                    <a href="mailto:info@ssrq-sds-fds.ch" class="tp-menu-item">
                        <i18n:text key="feedback"/>
                    </a>
                </li>
                <li class="dropdown" data-template="app:download">
                    <a href="#" class="dropdown-toggle tp-menu-item" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" title="i18n(download)">
                        <div>
                            <i18n:text key="download"/>
                            <span class="caret"/>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a target="_blank" data-template="app:download-pdf" title="i18n(pdf-latex)">
                                <i class="material-icons">print</i>
                                PDF
                            </a>
                        </li>
                        <li>
                            <a target="_blank" data-template="app:download-xml" title="i18n(view-tei)">
                                <i class="material-icons">code</i>
                                XML/TEI
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div id="lang-select" class="nav navbar-text navbar-right" data-template="app:highlight-active-lang">
                <a href="?{qs};lang=de" role="button">DEU</a>
                <a href="?{qs};lang=fr" role="button">FRA</a>
                <a href="?{qs};lang=it" role="button">ITA</a>
                <a href="?{qs};lang=en" role="button">ENG</a>
            </div>
        </div>
    </div>
</nav>
