<div xmlns:i18n="http://exist-db.org/xquery/i18n">
  <form action="search" class="form form-horizontal advanced-search" id="searchPanel">
    <input type="hidden" name="refresh" value="true"/>
    <div
      class="panel panel-info"
      data-template="i18n:translate"
      data-catalogues="resources/i18n"
    >
      <div class="panel-heading">
        <h3 class="panel-title">
          <i18n:text key="search">Suche</i18n:text>
          <a
            href="#"
            class="info-btn"
            data-toggle="modal"
            data-target="#searchInfo"
          >
            <i class="material-icons">info</i>
          </a>
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="col-md-12 col-xs-12">
            <select
              name="type"
              class="form-control has-dropdown"
              data-template="templates:form-control"
            >
              <option value="text">
                <i18n:text key="text"/>
              </option>
              <option value="person">
                <i18n:text key="person"/>
              </option>
              <option value="organisation">
                <i18n:text key="organisation"/>
              </option>
              <option value="places">
                <i18n:text key="places"/>
              </option>
              <option value="lemma">
                <i18n:text key="lemma"/>
              </option>
              <option value="keywords">
                <i18n:text key="keywords"/>
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12 col-xs-12">
            <input
              name="query"
              type="search"
              class="form-control"
              placeholder="i18n(search-query-attr)"
              autocomplete="off"
              data-template="templates:form-control"
           />
            <input
              type="hidden"
              name="doc"
              data-template="search:form-current-doc"
           />
          </div>
        </div>
        <h4><i18n:text key="genre"/>:</h4>
        <ul class="control-list genre">
          <li>
            <label class="form-check-label">
              <input
                id="bearbeitungstext"
                class="form-check-input"
                type="checkbox"
                value="${query}"
                data-template="app:parse-params"
             />
              <i18n:text key="searchText"/>
            </label>
            <ul>
              <li>
                <label class="form-check-label">
                  <input
                    class="form-check-input bearbeitungstext"
                    name="subtype"
                    type="checkbox"
                    value="title"
                    data-template="templates:form-control"
                 />
                  <i18n:text key="title"/>
                </label>
              </li>
              <li>
                <label class="form-check-label">
                  <input
                    class="form-check-input bearbeitungstext"
                    name="subtype"
                    type="checkbox"
                    value="idno"
                    data-template="templates:form-control"
                 />
                  <i18n:text key="idno"/>
                </label>
              </li>
              <li>
                <label class="form-check-label">
                  <input
                    class="form-check-input bearbeitungstext"
                    name="subtype"
                    type="checkbox"
                    value="regest"
                    data-template="templates:form-control"
                 />
                  <i18n:text key="regest"/>
                </label>
              </li>
              <li>
                <label class="form-check-label">
                  <input
                    class="form-check-input bearbeitungstext"
                    name="subtype"
                    type="checkbox"
                    value="comment"
                    data-template="templates:form-control"
                 />
                  <i18n:text key="comment"/>
                </label>
              </li>
              <li>
                <label class="form-check-label">
                  <input
                    class="form-check-input bearbeitungstext"
                    name="subtype"
                    type="checkbox"
                    value="notes"
                    data-template="templates:form-control"
                 />
                  <i18n:text key="notes"/>
                </label>
              </li>
              <li>
                <label class="form-check-label">
                  <input
                    class="form-check-input bearbeitungstext"
                    name="subtype"
                    type="checkbox"
                    value="seal"
                    data-template="templates:form-control"
                 />
                  <i18n:text key="seal"/>
                </label>
              </li>
              <li>
                <label class="form-check-label">
                  <input
                    class="form-check-input bearbeitungstext"
                    name="subtype"
                    type="checkbox"
                    value="literature"
                    data-template="templates:form-control"
                 />
                  <i18n:text key="literature"/>
                </label>
              </li>
            </ul>
          </li>
          <li>
            <label class="form-check-label">
              <input
                class="form-check-input"
                name="subtype"
                type="checkbox"
                value="edition"
                checked="checked"
                data-template="templates:form-control"
             />
              <i18n:text key="searchEdition"/>
            </label>
          </li>
        </ul>
        <h4><i18n:text key="filters"/>:</h4>
        <ul class="control-list mb-2">
          <li>
            <div class="form-group">
              <label class="col-4 control-label" for="filter-period-min">
                <i18n:text key="period"/>:
              </label>
              <div class="row control-wrapper">
                <div data-template="query:period-range">
                  <input
                    type="number"
                    id="filter-period-min"
                    name="filter-period-min"
                    placeholder="${min}"
                    min="${min}"
                    max="${max}"
                    value="${filter-period-min}"
                    data-template="app:parse-params"
                  />
                  &#8211;
                  <input
                    type="number"
                    id="filter-period-max"
                    name="filter-period-max"
                    placeholder="${max}"
                    min="${min}"
                    max="${max}"
                    value="${filter-period-max}"
                    data-template="app:parse-params"
                  />
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label class="row control-label">
                <i18n:text key="language"/>:
              </label>
              <div class="row control-wrapper">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    name="filter-language"
                    type="checkbox"
                    value="de"
                    data-template="templates:form-control"
                 />
                  de
                </label>
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    name="filter-language"
                    type="checkbox"
                    value="fr"
                    data-template="templates:form-control"
                 />
                  fr
                </label>
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    name="filter-language"
                    type="checkbox"
                    value="it"
                    data-template="templates:form-control"
                 />
                  it
                </label>
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    name="filter-language"
                    type="checkbox"
                    value="la"
                    data-template="templates:form-control"
                 />
                  la
                </label>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="filter-archive">
                <i18n:text key="archive"/>:
              </label>
              <div class="col-sm-8">
                <select
                  id="filter-archive"
                  name="filter-archive"
                  class="form-control has-dropdown"
                  data-template="query:list-archives"
                >
                  <option/>
                </select>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label class="col-sm-4 control-label">
                <i18n:text key="origPlace"/>:
              </label>
              <div class="col-sm-8">
                <select
                  name="filter-pubplace"
                  class="form-control has-dropdown"
                  data-template="templates:form-control"
                >
                  <option/>
                  <option value="yes"><i18n:text key="known">known</i18n:text></option>
                  <option value="no"><i18n:text key="unknown">unknown</i18n:text></option>
                </select>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label class="col-sm-4 control-label">
                <i18n:text key="scribe"/>:
              </label>
              <div class="col-sm-8">
                <select
                  name="filter-author"
                  class="form-control has-dropdown"
                  data-template="templates:form-control"
                >
                  <option/>
                  <option value="yes"><i18n:text key="known">known</i18n:text></option>
                  <option value="no"><i18n:text key="unknown">unknown</i18n:text></option>
                </select>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label class="col-sm-4 control-label">
                <i18n:text key="seal"/>:
              </label>
              <div class="col-sm-8">
                <select
                  name="filter-seal"
                  class="form-control has-dropdown"
                  data-template="templates:form-control"
                >
                  <option/>
                  <option value="yes"><i18n:text key="existent">existent</i18n:text></option>
                  <option value="no"><i18n:text key="nonexistent">nonexistent</i18n:text></option>
                </select>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label class="col-sm-12 control-label" for="filter-kanton">
                <i18n:text key="volume"/>:
              </label>
              <div class="col-sm-12">
                <select
                  id="filter-kanton"
                  name="filter-kanton"
                  class="form-control"
                  multiple="multiple"
                  data-template="templates:form-control"
                >
                  <option value="ZH">Zürich (I. Abteilung)</option>
                  <option value="BE">Bern (II. Abteilung)</option>
                  <option value="LU">Luzern (III. Abteilung)</option>
                  <option value="UR">Uri (IV. Abteilung)</option>
                  <option value="SZ">Schwyz (V. Abteilung)</option>
                  <option value="OW/NW">Unterwalden (VI. Abteilung)</option>
                  <option value="GL">Glarus (VII. Abteilung)</option>
                  <option value="ZG">Zug (VIII. Abteilung)</option>
                  <option value="FR">Freiburg (IX. Abteilung)</option>
                  <option value="SO">Solothurn (X. Abteilung)</option>
                  <option value="BS/BL">Basel (XI. Abteilung)</option>
                  <option value="SH">Schaffhausen (XII. Abteilung)</option>
                  <option value="AR/AI">Appenzell (XIII. Abteilung)</option>
                  <option value="SG">St. Gallen (XIV. Abteilung)</option>
                  <option value="GR">Graubünden (XV. Abteilung)</option>
                  <option value="AG">Aargau (XVI. Abteilung)</option>
                  <option value="TG">Thurgau (XVII. Abteilung)</option>
                  <option value="TI">Ticino (XVIII sezione)</option>
                  <option value="VD">Vaud (XIXe partie)</option>
                  <option value="VS">Valais (XXe partie)</option>
                  <option value="NE">Neuchâtel (XXIe partie)</option>
                  <option value="GE">Genève (XXIIe partie)</option>
                  <option value="JU">Jura (XXIIIe partie)</option>
                </select>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group row">
              <label class="col-4 control-label" for="filter-pubdate-min">
                <i18n:text key="pubdate"/>:
              </label>
              <div class="row control-wrapper">
                <div data-template="query:pubdate-range">
                  <input
                    type="number"
                    id="filter-pubdate-min"
                    name="filter-pubdate-min"
                    placeholder="${min}"
                    min="${min}"
                    max="${max}"
                    value="${filter-pubdate-min}"
                    data-template="app:parse-params"
                  />
                  &#8211;
                  <input
                    type="number"
                    id="filter-pubdate-max"
                    name="filter-pubdate-max"
                    placeholder="${max}"
                    min="${min}"
                    max="${max}"
                    value="${filter-pubdate-max}"
                    data-template="app:parse-params"
                  />
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-stretched">
          <button id="f-btn-search" type="submit" class="btn btn-primary">
            <i class="material-icons">search</i> <i18n:text key="doSearch"/>
            <div class="ripple-container"></div>
          </button>
          <button class="btn btn-primary" type="reset">
            <i class="material-icons">delete</i> <i18n:text key="reset"/>
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="modal fade" id="searchInfo">
    <div class="modal-dialog" style="z-index: 1080" data-template="app:help">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span class="material-icons" aria-hidden="true">close</span>
            <span class="sr-only">
              <i18n:text key="close"/>
            </span>
          </button>
          <h4
            class="modal-title"
            data-template="app:show-help"
            data-template-field="title"
         />
        </div>
        <div
          class="modal-body content"
          data-template="app:show-help"
          data-template-field="body"
        ></div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="resources/scripts/search.js"/>
</div>
