<?xml version="1.0" encoding="UTF-8"?>
<section
  xmlns:i18n="http://exist-db.org/xquery/i18n"
  class="tp-toolbar"
  data-template="i18n:translate"
  data-catalogues="resources/i18n"
>
  <div
    data-template="templates:if-parameter-set"
    data-template-param="toggle-odd"
  >
    <a
      class="btn btn-default"
      data-template="app:switch-view"
      title="i18n(view-switch)"
    >
      <i class="material-icons">check_box_outline_blank</i>
      <span class="hidden-xs">
        <i18n:text key="view-normalized">Normalisiert</i18n:text>
      </span>
    </a>
  </div>
  <a class="btn btn-default" href="#" id="zoom-in">
    <i class="material-icons">zoom_in</i>
  </a>
  <a class="btn btn-default" href="#" id="zoom-out">
    <i class="material-icons">zoom_out</i>
  </a>
</section>
