{# def
    description: DocumentDescription,
    lang: Lang,
    request: Request,
    translator: Translator
#}
foo bar

{% if description.bibliographic_information is not none %}
    bibl angaben hier !!!
{% endif %}