{# def
    document: Document,
    entities: dict[EntityTypes, Entities],
    lang: Lang,
    request: Request,
    translator: Translator
#}

{% set entity_order = {
    'PLACES': 1,
    'PERSONS': 2,
    'FAMILIES': 3,
    'ORGANIZATIONS': 4,
    'KEYWORDS': 5,
    'LEMMATA': 6
} %}
{% set sorted_entity_types = entities.keys()|sort(attribute='name', reverse=false) %}

<div {% if 19 < document.entities | length  %}class='md:columns-2'{% endif %}>
    {% for entity_type in sorted_entity_types %}
        <h3 class="title-3">{{ translator.translate(lang, entity_type.name|lower) }}</h3>
        <ul class="mb-4 ml-2">
            {% for entity in entities[entity_type].entities %}
            <li>
                {% set display_name = entity.get_name_by_lang(lang) %}
                <Popup>
                    <PopupTrigger :id="{{ entity.id }}">
                        {{ display_name }}
                    </PopupTrigger>
                    <PopupBody class="has-marker" :id="{{ entity.id }}">
                        <PopupContent class="min-w-max max-w-40">
                            <EntityPreview
                                :entity="entity"
                                :entity_type="entity_type.value"
                                :lang="lang"
                                :name="display_name"
                                :request="request"
                                :translator="translator"
                            />
                        </PopupContent>
                    </PopupBody>
                </Popup>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
