{# def
    description: DocumentDescription,
    lang: Lang,
    request: Request,
    translator: Translator
#}
{% if description.archival_information is not none %}
    {{ description.archival_information | safe }}
{% endif %}

{% if description.bibliographic_information is not none %}
    bibl angaben hier !!!
{% endif %}