{# def
    lang: Lang,
    request: Request,
    translator: Translator,
    volume: Volume,
    doc: Document,
#}
<div class="flex justify-between text-ssrq-greyed-600 pb-2 border-b border-ssrq-greyed-200">
    <a
        href="{{ url_for('document_list', kanton=volume.kanton, volume=volume.machine_name).include_query_params(lang=lang.value) }}"
        class="flex items-center gap-2 hover:text-ssrq-primary"
    >
        <svg aria-hidden="true"
            class="h-3 mt-[2px]"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m5 9-4-4 4-4" />
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m9 9-4-4 4-4" />
        </svg>
        <span>{{ translator.translate(lang, 'back_to_volume') }}</span>
    </a>
    <div class="flex gap-2">
        {% if doc.previous_document %}
            {# ToDo: Use a better solution here (supporting uuids etc.) ... #}
            {% set idno_parts = doc.previous_document.split('-') %}
            <a
                href="{{ url_for('document_view', kanton=idno_parts[1], volume=idno_parts[2] | replace(' ', '_') | replace('/', '_'), document=idno_parts[3:] | join('-') ).include_query_params(lang=lang.value) }}"
                class="flex items-center gap-2 hover:text-ssrq-primary {{ 'border-r-2 pr-2' if doc.next_document else '' }}"
            >
                <svg aria-hidden="true"
                    class="h-3 mt-[2px]"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m5 9-4-4 4-4" />
                </svg>
                <span>{{ translator.translate(lang, 'previous_piece') }}</span>
            </a>
        {% endif %}
        {% if doc.next_document %}
            {# ToDo: Use a better solution here (supporting uuids etc.) ... #}
            {% set idno_parts = doc.next_document.split('-') %}
            <a
                href="{{ url_for('document_view', kanton=idno_parts[1], volume=idno_parts[2] | replace(' ', '_') | replace('/', '_'), document=idno_parts[3:] | join('-') ).include_query_params(lang=lang.value) }}"
                class="flex items-center gap-2 hover:text-ssrq-primary"
            >
                <span>{{ translator.translate(lang, 'next_piece') }}</span>
                <svg aria-hidden="true"
                    class="h-3 mt-[2px]"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                </svg>
            </a>
        {% endif %}
    </div>
</div>
