{# def
    entity: Entity,
    entity_type: str,
    lang: Lang,
    name: str,
    request: Request,
    translator: Translator
#}

<header class="mb-2 flex gap-2">
    <span class="flex text-sm text-ssrq-greyed-600 items-center" title="{{ translator.translate(lang, 'ssrq-idno') }}">
        <IdIcon class="w-3.5 h-3.5 mr-0.5"/>
        {{- entity.id -}}
    </span>
    <span class="flex text-sm text-ssrq-greyed-600 items-center flex-nowrap" title="{{ translator.translate(lang, 'ssrq-idno') }}">
        <LangIcon class="w-3.5 h-3.5 mr-0.5"/>
        {{ entity.list_languages() | join(', ') }}
    </span>
</header>
{# ToDo: Remove duplicated logic! Compare EntityCard #}
<ul class="mb-4">
    {% if entity_type in ["lemmata", "keywords"] %}
    <li class="mt-0.5">
        <span class="font-medium">{{ translator.translate(lang, 'normalized-spelling') }}:</span> {{
        entity.get_name_by_lang(lang) }}
    </li>
    <li class="my-0.5 border-t-2 border-ssrq-greyed-50">
        <span class="font-medium">{{ translator.translate(lang, 'definition') }}:</span> {{
        entity.get_definition_by_lang(lang) }}
    </li>
    {% elif entity_type == "places" %}
    <li class="mt-0.5">
        <span class="font-medium">{{ translator.translate(lang, 'standard_name') }}:</span> {{ entity.get_name_by_lang(lang)
        }}
    </li>
    <li class="my-0.5 border-t-2 border-ssrq-greyed-50">
        <span class="font-medium">{{ translator.translate(lang, 'place_type') }}:</span> {{
        entity.get_place_type_by_lang(lang) }}
    </li>
    {% elif entity_type == "persons" %}
    <li class="mt-0.5">
        <span class="font-medium">{{ translator.translate(lang, 'standard_name') }}:</span> {{ entity.get_name_by_lang(lang)
        }}
    </li>
    <li class="my-0.5 border-t-2 border-ssrq-greyed-50">
        <span class="font-medium">{{ translator.translate(lang, 'birth_or_first_mention') }}:</span> {{ entity.birth or
        entity.first_mention or '–' }}
    </li>
    <li class="my-0.5 border-t-2 border-ssrq-greyed-50">
        <span class="font-medium">{{ translator.translate(lang, 'death_or_last_mention') }}:</span> {{ entity.death or
        entity.last_mention or '–' }}
    </li>
    {% elif entity_type == "families" %}
    <li class="mt-0.5">
        <span class="font-medium">{{ translator.translate(lang, 'standard_name') }}:</span> {{ entity.get_name_by_lang(lang)
        }}
    </li>
    {% elif entity_type == "organizations" %}
    <li class="mt-0.5">
        <span class="font-medium">{{ translator.translate(lang, 'standard_name') }}:</span> {{ entity.get_name_by_lang(lang)
        }}
    </li>
    <li class="mt-0.5">
        <span class="font-medium">{{ translator.translate(lang, 'org_type') }}:</span> {{ entity.get_types_by_lang(lang) |
        join(', ') }}
    </li>
    {% endif %}
</ul>
{# Use an internal link, when we have internal detail views for entities!!! #}
<a
    class="text-ssrq-primary"
    target="_blank"
    href="{{ entity.id | permalink }}">
    {{ translator.translate(lang, 'database_entry') }}
    <ArrowRightIcon class="w-3 h-3 inline-block ml-1" />
</a>