{# def
    entity: Entity,
    entity_type: str,
    idnos: dict[str, DocumentInfo],
    lang: Lang,
    request: Request,
    translator: Translator
#}

{% set permalink = "https://p.ssrq-sds-fds.ch/" + entity.id %}

<article class="entity-info">
    <header>
        <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="w-3.5 h-3.5 mr-0.5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M7.864 4.243A7.5 7.5 0 0 1 19.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 0 0 4.5 10.5a7.464 7.464 0 0 1-1.15 3.993m1.989 3.559A11.209 11.209 0 0 0 8.25 10.5a3.75 3.75 0 1 1 7.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 0 1-3.6 9.75m6.633-4.596a18.666 18.666 0 0 1-2.485 5.33" />
                </svg>
                {{- entity.id -}}
        </span>
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                class="w-3.5 h-3.5 mr-0.5 md:mr-1">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
            </svg>
            {{ entity.list_languages() | join(', ')}}
        </span>
    </header>
    <ul class="list-none">
        <!-- ToDo: Simplify HTML Template to avoid code duplication -->
        {% if entity_type in ["lemmata", "keywords"] %}
            <li class="mt-0.5">
                <span class="font-medium">{{ translator.translate(lang, 'normalized-spelling') }}:</span> {{ entity.get_name_by_lang(lang) }}
            </li>
            <li class="my-0.5 border-t-2 border-ssrq-greyed-50">
                <span class="font-medium">{{ translator.translate(lang, 'definition') }}:</span> {{ entity.get_definition_by_lang(lang) }}
            </li>
        {% elif entity_type == "places" %}
            <li class="mt-0.5">
                <span class="font-medium">{{ translator.translate(lang, 'standard_name') }}:</span> {{ entity.get_name_by_lang(lang) }}
            </li>
            <li class="my-0.5 border-t-2 border-ssrq-greyed-50">
                <span class="font-medium">{{ translator.translate(lang, 'place_type') }}:</span> {{ entity.get_place_type_by_lang(lang) }}
            </li>
        {% elif entity_type == "persons" %}
            <li class="mt-0.5">
                <span class="font-medium">{{ translator.translate(lang, 'standard_name') }}:</span> {{ entity.get_name_by_lang(lang) }}
            </li>
            <li class="my-0.5 border-t-2 border-ssrq-greyed-50">
                <span class="font-medium">{{ translator.translate(lang, 'birth_or_first_mention') }}:</span> {{ entity.birth or entity.first_mention or '–' }}
            </li>
            <li class="my-0.5 border-t-2 border-ssrq-greyed-50">
                <span class="font-medium">{{ translator.translate(lang, 'death_or_last_mention') }}:</span> {{ entity.death or entity.last_mention or '–' }}
            </li>
        {% elif entity_type == "families" %}
            <li class="mt-0.5">
                <span class="font-medium">{{ translator.translate(lang, 'standard_name') }}:</span> {{ entity.get_name_by_lang(lang) }}
            </li>
        {% endif %}
        <li class="my-0.5 border-t-2 border-ssrq-greyed-50">
            {% if entity.occurrences is not none %}
            <details class="accordion">
                <summary><span class="font-medium">{{ translator.translate(lang, 'occurrences') }}:</span></summary>
                <div class="px-4 py-2">
                    <ol class="list-none">
                        {% for kanton, volumes in group_and_sort_idnos(entity.occurrences, idnos) | dictsort %}
                        <li>
                            <span class="underline">{{ kanton }}</span>
                            <ol class="ml-2">
                                {% for volume, docs in volumes | dictsort %}
                                    <li>
                                        {% for doc in docs  %}
                                            <!-- ToDo: Find a more generic approach for creating links, we also need to consider UUID only IDNOs -->
                                            <a
                                            class="text-ssrq-primary"

                                            href="{{ url_for('document_view', kanton=doc.kanton, volume=doc.volume | replace(' ', '_') | replace('/', '_'), document=doc.idno.split('-')[3:] | join('-') )}}">{{ doc.printed_idno }}</a>{% if not loop.last %},{% endif %}
                                        {% endfor %}
                                    </li>
                                {% endfor %}
                            </ol>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </details>
            {% else %}
            <span class="font-medium">{{ translator.translate(lang, 'occurrences') }}:</span> {{ translator.translate(lang, 'no-occurrences') }}
            {% endif %}
        </li>
        <li class="mb-0.5 border-t-2 border-ssrq-greyed-50">
            <span class="font-medium">{{ translator.translate(lang, 'permalink') }}:</span> <a class="text-ssrq-primary" target="_blank" href="{{permalink}}">{{ permalink }}</a>
        </li>
    </ul>
</article>
