{# def
    tileSources: list
#}
<div
  x-init="$dispatch('ssrq:facsviewer', {'tileSources': {{ tileSources }} })"
  id="img-container"
  class="w-full h-full rounded-md overflow-hidden shadow-md min-h-[60vh]">
</div>
