{# def
    tileSources: list,
    facsResponsible: str,
    lang: Lang,
    translator: Translator
#}
<div class="facsViewer">
    <div class="facsViewerMenu">
        <div class="flex gap-2">
            <ZoomInIcon id="viewerZoomIn" />
            <ZoomOutIcon id="viewerZoomOut" />
            <HomeIcon id="viewerHome" />
            <MaximizeIcon id="viewerFull" />
        </div>
        <div>
            <ArrowLeftIcon id="viewerPrev" />
            <span id="viewerCurrentPage" class="text-ssrq-greyed-600"></span>
            <ArrowRightIcon id="viewerNext" />
        </div>
    </div>
    <div
      x-init="$dispatch('ssrq:facsviewer', {'tileSources': {{ tileSources | map_facs_to_iiif_urls }} })"
      id="img-container"
      class="w-full h-full">
    </div>
    <div class="facsViewerFooter">{{ translator.translate(lang, 'facs_responsible') }}: {{ facsResponsible }}</div>
</div>
