{# def
    endpoint: URL,
    hx_indicator: str | None = None,
    hx_target: str | None = None,
    queries: list[dict[str, str | int]] | None = None
#}
<style>
.search_box{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    border: 2px solid rgb(150 26 23);
    border-radius: 7px;
    padding: 1rem 2rem;
}
.search_box > .search_item {
    display: flex;
    gap: 0.2rem;
    border-radius: 2rem;
    box-shadow: 0px 3px 5px lightgray;
    overflow: hidden;
}
.search_box > .search_item > input, select {
    border: none;
    font-size: 80%;
}
.search_box > .search_item >  input:focus, select:focus {
    box-shadow: none;
    outline: none;
    color: rgb(150 26 23);
}
.search_box > .search_item > input[type="text"] {
    width: 150px;
}
.search_box > .search_item > input[type="button"] {
    font-weight: bold;
    background-color: lightgray;
    color: rgb(150 26 23);
    padding: 0 12px;
}
.search_box > div:last-child{
    margin-left: auto;
}
#searchBoxAddItem{
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    padding: 1px 13px;
    cursor: pointer;
    background-color: rgb(150 26 23);
    color: white;
}
#removeAllElements{
    border-radius: 22px;
    font-weight: bold;
    border: 2px solid rgb(150 26 23);
    color: rgb(150 26 23);
    background-color: white;
    padding: 1px 10px;
    cursor: pointer;
}
#searchButton{
    border-radius: 22px;
    border: 2px solid rgb(150 26 23);
    color: rgb(150 26 23);
    background-color: white;
    padding: 1px 10px;
    cursor: pointer;
}

</style>
<div class="h-screen" x-data="{ queries: {{ queries }} }">
    <div class="search_box">
        <template x-for="(query, index) in queries" :key="index">
            <div class="search_item">
                <select x-model="query.column"> 
                    <option value="ID">ID</option>
                    <option value="Standardname">Standardname</option>
                    <option value="Ortstyp">Ortstyp</option>
                    <option value="Vorkommen">Vorkommen</option>
                </select>
                <span style="padding:10px 0px">=</span>
                <input type="text" placeholder="Suchbegriff..." x-model="query.value" />
                <input type="button" @click="queries.splice(index, 1)" value="x" />
            </div>
        </template>
        <div style="display: flex; gap: 2px;">
            <div id="searchBoxAddItem" @click="queries.push({ column: '', value: '' })">+</div>
            <input id="removeAllElements" type="button" @click="queries = []" value="leeren" />
        </div>
    </div>
    <div style="text-align: right; margin-top: 0.5rem; font-size: 110%;">
        <form
            hx-get="{{ endpoint }}""
            hx-indicator="{{ hx_indicator }}"
            hx-target="{{ hx_target }}"
            hx-push-url="true"
            hx-trigger="submit"
            hx-swap="outerHTML"
        >
            <input type="hidden" name="queries" :value="JSON.stringify(queries)">
            <input id="searchButton" type="submit" value="suchen" />
        </form>
    </div>
</div>
