{# def
    endpoint: URL,
    hx_indicator: str | None = None,
    hx_target: str | None = None,
    queries: str | None = None
#}
<div x-data="{ openFilterSidebar: false, queries: {{ queries }} }">
    <div class="text-right">
        <input class="text-right" type="button" value="Filter" @click="openFilterSidebar = !openFilterSidebar" />
    </div>
    <form
        id="filterSidebarContent"
        hx-get="{{ endpoint }}"
        hx-indicator="{{ hx_indicator }}"
        hx-target="{{ hx_target }}"
        hx-push-url="true"
        hx-trigger="submit"
        hx-swap="outerHTML"
        x-show="openFilterSidebar"
        x-transition
        class="flex flex-col gap-4 mx-auto w-96">

        <!-- search fields -->
        <div class="flex flex-wrap justify-center gap-y-3 shadow-lg rounded-lg px-2 py-6">
            <template x-for="(query, index) in queries" :key="index">
                <div class="flex items-center gap-2 rounded shadow-md border overflow-hidden">
                    <select x-model="query.field" class="border-none text-sm m-2 bg-transparent focus:outline-none"> 
                        <option value="ID" class="text-ssrq-greyed-800">ID</option>
                        <option value="Standardname">Standardname</option>
                        <option value="Ortstyp">Ortstyp</option>
                        <option value="Vorkommen">Vorkommen</option>
                    </select>
                    <span class="text-ssrq-greyed-800">=</span>
                    <input type="text" placeholder="Suchbegriff..." x-model="query.value" class="border-none text-sm bg-transparent focus:outline-none focus-visible:ring-0 w-32" />
                    <button @click="queries.splice(index, 1)" class="text-white h-full font-bold bg-ssrq-primary py-1 px-2 hover:bg-red-600 transition"><span class="fa-solid fa-trash" /></button>
                </div>
            </template>
            <!-- control: add, remove all -->
            <div class="flex gap-2">
                <input type="button" @click="queries.push({ field: '', value: '' })" value="+" class="text-white bg-red-700 rounded-full px-4 py-1 text-lg font-bold shadow-md hover:bg-red-800 transition">
                <input type="button" @click="queries = []" value="leeren" class="text-red-700 border-2 border-red-700 bg-white rounded-full px-4 py-1 font-bold shadow-md hover:bg-red-50 transition" />
            </div>
        </div>

        <!-- search button -->
        <div class="text-right">
            <input type="hidden" name="queries" :value="JSON.stringify(queries)">
            <input type="submit" value="suchen" class="ml-auto text-red-700 border-2 border-red-700 bg-white rounded-md px-2 py-2 font-bold shadow-md hover:bg-red-50 transition" />
        </div>
    </form>
</div>
