<style>
.search_box{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    border: 2px solid rgb(150 26 23);
    border-radius: 7px;
    padding: 1rem 2rem;
}
.search_box > .search_item {
    display: flex;
    gap: 0.2rem;
    border-radius: 2rem;
    box-shadow: 0px 3px 5px lightgray;
    overflow: hidden;
}
.search_box > .search_item > input, select {
    border: none;
    font-size: 80%;
}
.search_box > .search_item >  input:focus, select:focus {
    box-shadow: none;
    outline: none;
    color: rgb(150 26 23);
}
.search_box > .search_item > input[type="text"] {
    width: 150px;
}
.search_box > .search_item > input[type="button"] {
    font-weight: bold;
    background-color: lightgray;
    color: rgb(150 26 23);
    padding: 0 12px;
}
.search_box > div:last-child{
    margin-left: auto;
}
#searchBoxAddItem{
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    padding: 1px 13px;
    cursor: pointer;
    background-color: rgb(150 26 23);
    color: white;
}
#removeAllElements{
    border-radius: 22px;
    font-weight: bold;
    border: 2px solid rgb(150 26 23);
    color: rgb(150 26 23);
    background-color: white;
    padding: 1px 10px;
    cursor: pointer;
}
#searchButton{
    border-radius: 22px;
    border: 2px solid rgb(150 26 23);
    color: rgb(150 26 23);
    background-color: white;
    padding: 1px 10px;
    cursor: pointer;
}

</style>
<script>
    function addWithEnter(e){ if(e.keyCode===13){addElement()} }
    function addElement(){
        const defaultElement = document.querySelector(".default_item");
        const newElement = defaultElement.cloneNode(true);
        newElement.classList.remove("default_item");
        const addItemElement = document.getElementById("searchBoxAddItem").parentNode;
        addItemElement.before(newElement);
        newElement.querySelector(":first-child").focus();
    }
    function removeElement(e){
        const removeEl = e.target.parentNode;
        if(removeEl.classList.contains("default_item")===false){
            removeEl.remove();
        }else{
            for(const el of removeEl.querySelectorAll("select, input[type='text']")){
                el.value = "";
            }
        }
    }
    function removeAllElements(){
    const searchBoxEl = document.querySelector(".search_box");
    for(const el of searchBoxEl.querySelectorAll(".search_item")){
        if(el.classList.contains("default_item")){
            for(const elChildren of el.querySelectorAll("select, input[type='text']")){
                elChildren.value = "";
            }
        }else{
            el.remove();
        }
    }
    }
</script>
<div class="grid grid-rows-[1fr_auto] h-screen">
    <div class="search_box">
        <div class="search_item default_item">
            <select>
                <option>ID</option>
                <option>Standardname</option>
                <option>Ortstyp</option>
                <option>Vorkommen</option>
            </select>
            <select>
                <option value="0">=</option>
                <option value="1">!=</option>
                <option value="2">&lt;</option>
                <option value="3">&gt;</option>
                <option value="4">Regex</option>
            </select>
            <input type="text" placeholder="Suchbegriff..." onkeyup="addWithEnter(event)" />
            <input type="button" onClick="removeElement(event)" value="x" />
        </div>
        <div style="display: flex; gap: 2px;">
            <div id="searchBoxAddItem" onclick="addElement()">+</div>
            <input id="removeAllElements" type="button" onClick="removeAllElements()" value="leeren" />
        </div>
    </div>
    <div style="text-align: right; margin-top: 0.5rem; font-size: 110%;"><input id="searchButton" type="button" value="suchen" /></div>
</div>
