{# def
    kanton: Kanton,
    lang: Lang,
    request: Request

#}
<div {{ attrs.render() }}>
    <div class="kanton-card_inner-container">
        <div class="kanton-card_img-container">
            {% for file in kanton.filenames %}
                <img class="kanton-card_img"
                     src="{{ url_for('static', path='images/kantone/' ~ file ~ '.svg') }}"
                     loading="lazy"
                     alt="{{ 'Badge' ~ file}}" />
            {% endfor %}
        </div>
        <div class="kanton-card_content">
            <div class="kanton-card_content-heading">
                <h4>{{ kanton.short_name.replace('-', '/') }}</h4>
                <CounterBadge :count="kanton.docs" />
            </div>
            <h3>
                {{ kanton | attr(lang.value ~ '_title') | default(kanton.de_title, true) | safe }}
            </h3>
        </div>
    </div>
</div>
