{# def
    lang: Lang,
    translator: Translate
#}

<div
  class="w-full h-12 flex justify-center items-center my-4 p-4 rounded bg-ssrq-greyed-100"
>
    <h3>{{ translator.translate(lang, 'no-hits-found') }}</h3>
</div>
