{% do attrs.add_class("popup", "has-border") %}
<span {{ attrs.render() }} x-data x-init="
  $el.querySelector('button').popoverTargetElement = 
  $el.querySelector('.popup-body');
">
    {{ content }}
</span>
