{#def
    lang: Lang,
    request: Request,
    translator: Translator
#}

{% set fts_query_param = request.query_params.get('fts') %}

<div class="relative">
    <form action="{{ url_for('search') }}" method="get">
        <input type="text"
                name="fts"
                class="h-full min-w-[20rem] w-auto max-w-[28rem] py-1 pl-2 pr-2 placeholder-ssrq-greyed-600 bg-transparent border rounded-sm focus:border-ssrq-primary focus:border-[0.005rem] focus:outline-none focus:ring-2 focus:ring-ssrq-primary focus:ring-opacity-40"
                placeholder="{{ translator.translate(lang, 'search') }}"
                {% if fts_query_param and fts_query_param | length > 0 %}
                    value="{{ request.query_params.get('fts') }}"
                {% endif %}

        />
    </form>
    <span
      class="absolute inset-y-0 right-0 flex items-center pr-1 hover:cursor-pointer"
    >
        <i class="icon is-small">
            <svg viewBox="0 0 24 24" fill="none">
                <path
                  d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                </path>
            </svg>
        </i>
    </span>
</div>
