{# def
request: Request
#}
<section class="my-4 mx-auto w-full max-w-5xl lg:px-12 sm:px-4 text-ssrq-primary">
    <div class="border-b-2 border-ssrq-primary py-2">
        {{ content }}
    </div>
</section>
