{# def
    active_tab: str | None = None
#}


<div
  class="flex flex-col w-full flex-1"
  x-data="tabs()"
  {% if active_tab is not none %}
    x-init="init('{{ active_tab }}')"
  {% else %}
    x-init="init()"
  {% endif %}
>
    {{ content }}
</div>
