{# def
    active_tab: str | None = None,
    tab_group: str
#}


<div
  class="flex flex-col w-full flex-1"
  x-data="tabs()"
  {% if active_tab is not none %}
    x-init="setup('{{ active_tab }}', '{{ tab_group }}')"
  {% else %}
    x-init="setup(null, '{{ tab_group }}')"
  {% endif %}
>
    {{ content }}
</div>
