{# def
    lang: Lang,
    request: Request,
    translator: Translator,
    volume: Volume
#}
<footer class="mt-4 flex">
    <a href="{{ url_for('document_list', kanton=volume.kanton, volume=volume.machine_name).include_query_params(lang=lang.value) }}">
        {{ translator.translate(lang, 'articles') }}
    </a>
    {% if volume.literature %}
    <a href="{{ volume.literature }}" target="_blank">
        {{ translator.translate(lang, 'literature') }}
    </a>
    {% endif %}
    {% if volume.pdf %}
    <a href="{{ url_for('volume_pdf', kanton=volume.kanton, volume=volume.machine_name).include_query_params(lang=lang.value) }}" target="_blank">
        {{ translator.translate(lang, 'pdf') }}
    </a>
    {% endif %}
    {% if volume.project_page%}
    <a href="{{ volume.get_project_page_by_lang(lang) }}" target="_blank">
        {{ translator.translate(lang, 'project_page') }}
    </a>
    {% endif %}
</footer>
