<html lang="{{ lang.value }}">
    <Head :description="{{ data.page_description }}"
          :favicon="{{ url_for('static', path='images/favicon-ssrq-32.png') }}"
          :request="request"
          :stylesheets="{{ css | list }}"
          :scripts="{{ js | list }}"
          :title="{{ data.page_title }}" />
    <body id="body" class="flex flex-col min-h-screen">
        <Navbar :lang="lang" :request="request" :translator="translator" />
        <main class="pt-16 flex-1" id="content">
            {% block content %}{% endblock %}
        </main>
        <Footer :lang="{{ lang }}"
                :request="{{ request }}"
                :translator="{{ translator }}">
        </Footer>
    </body>
</html>
