@layer components {
  .popup.has-border > button {
    @apply pb-[0.5px] border-b-black border-dotted border-b-[1px] w-fit;
  }
    
  /* reset native popover box and position it relative to its anchor */
  .popup-body:popover-open {
    /* styling of popup */
    @apply inset-auto m-0 overflow-visible p-0 border-0 bg-transparent;

    /* anchor and positioning of popup */
    position: fixed;
    position-anchor: auto;
    position-visibility: anchors-visible; /* support in firefox/safari? */
    position-area: bottom right;
    inset-inline-start: anchor(left);
    margin-block-start: 0.5rem;
    margin-inline-start: -1rem;

    /* fallback placements when the popover would overflow (right/up) */
    position-try-fallbacks: flip-block, flip-inline, flip-block flip-inline;
    container-type: anchored;
  }

  /* visible styling of popup */
  .popup-content {
    @apply relative bg-white border rounded-md p-4 text-black text-sm shadow-sm sm:max-w-40 md:max-w-80;
  }

  /* default marker position: top-left */
  .popup-body.has-marker > .popup-content::before {
    content: "";
    @apply absolute w-3 h-3 bg-white left-4 -top-1.5 rotate-45 border-0 border-l border-t border-gray-200;
  }
  
  /* @container is used to move the marker when the popup is flipped */
  /* popup flipped up (block-axis fallback), marker: bottom-left */
  @container anchored(fallback: flip-block) {
    .popup-body.has-marker > .popup-content::before {
      @apply top-auto -bottom-1.5 border-0 border-r border-b;
    }
  }

  /* popup flipped left (inline-axis fallback), marker: top-right */
  @container anchored(fallback: flip-inline) {
    .popup-body.has-marker > .popup-content::before {
      @apply left-auto right-4;
    }
  }
  
  /* popup flipped left and up (block- and inline-axis fallback), marker: bottom-right */
  @container anchored(fallback: flip-block flip-inline) {
    .popup-body.has-marker > .popup-content::before {
      @apply top-auto -bottom-1.5 right-4 left-auto border-0 border-r border-b;
    }
  }
}
