.back-button {
  box-shadow: none;
  border: none;
  background: transparent;
  border-radius: 0;
  border-bottom: 0.5px solid $color-gray-light;
  width: 100%;
  padding: 0;
  padding-bottom: $margin-vertical-base / 2;
  margin: $margin-vertical-base * 2 0;
}

.back-button a {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: $color-gray-dark;
}

.back-button a:hover {
  text-decoration: none;
}

.back-button a i {
  margin-right: $margin-horizontal-base;
}
