.volume {
  margin-top: $margin-vertical-base;
}

.volume h3 .tei-title5,
.volume h3 .tei-title3 {
  color: black;
  font-size: 24px;
  font-style: normal;
}

.volume div:nth-child(2) {
  margin-right: $margin-horizontal-base;
}

.volume .volume-counter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -$margin-vertical-base;
  margin-right: $margin-horizontal-base;
}

.volume .part~.part {
  margin-left: $margin-horizontal-base;
}

.result-count a {
    color: $color-primary-light
}
